<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="take-screenshot" xml:lang="sv">

  <info>
    <link type="guide" xref="index#options"/>

    <revision pkgversion="3.8" date="2013-03-23" status="final"/>
    <revision pkgversion="3.12" date="2014-03-05" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Ta en skärmbild av ett fjärrskrivbord.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sebastian Rasmussen</mal:name>
      <mal:email>sebras@gmail.com</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  </info>

  <title>Ta en skärmbild</title>

  <p>Du kan ta skärmbilder enbart av skrivbordet som du är anslutet till genom verktyget som tillhandahålls av <app>Fjärrskrivbordsvisare</app>.</p>

  <steps>
    <item>
      <p>Välj <guiseq><gui style="menu">Fjärr</gui> <gui style="menuitem">Ta skärmbild</gui></guiseq>, eller klicka på knappen <gui>Ta skärmbild</gui> i verktygsfältet.</p>
    </item>
    <item>
      <p>I fältet <gui>Namn</gui>, mata in filnamnet som du vill att skärmbilden ska sparas under.</p>
    </item>
    <item>
      <p>Från rullgardinsmenyn <gui>Spara i mapp</gui>, välj mappen som du vill att skärmbilden ska sparas i. Du kan också klicka på <gui>Bläddra efter annan mapp</gui> för att välja en som inte finns i rullgardinsmenyn.</p>
    </item>
    <item>
      <p>Klicka på <gui style="button">Spara</gui> för att spara skärmbilden.</p>
    </item>
  </steps>

</page>
