<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="connect-file" xml:lang="lv">

  <info>
    <link type="guide" xref="index#connections"/>
    <link type="seealso" xref="connect"/>
    <title type="sort">2</title>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

    <desc>Attālinātā savienojuma datnes izmantošana, lai savienotos ar attālināto sistēmu.</desc>
  </info>

  <title>Savienoties, izmantojot <file>.vnc</file> datni</title>

  <p>Dažā sistēmā izplatīta <em>attālinātā savienojuma datnes</em>, kas parasti ir ar paplašinājumu <file>.vnc</file>, nevis sistēmas adresi un portu.</p>

  <steps>
    <item>
      <p>Izvēlieties <guiseq><gui style="menu">Attālināts</gui> <gui style="menuitem">Atvērt</gui></guiseq>.</p>
    </item>
    <item>
      <p>Izvēlieties datni, kuru vēlaties atvērt.</p>
    </item>
    <item>
      <p>Spiediet pogu <gui style="button">Atvērt</gui>.</p>
    </item>
  </steps>

  <note style="tip">
    <p>Jūs arī varat atvērt attālinātā savienojuma datni no lietotnes<app>Datnes</app>.</p>
  </note>

</page>
