<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="index" xml:lang="id">

  <info>
    <!-- The text title is used on the help.gnome.org -->
    <title type="text">Bantuan Penampil Desktop Jauh</title>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Belajar bagaimana menyambung jarak jauh ke desktop lain.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2013, 2014, 2016.</mal:years>
    </mal:credit>
  </info>

  <title><media type="image" mime="image/png" its:translate="no" src="figures/preferences-desktop-remote-desktop.png"/> Penampil Desktop Jauh</title>

  <section id="connections" style="2column">
    <title>Menyambung ke komputer lain memakai VNC</title>
  </section>

  <section id="options" style="2column">
    <title>Fitur dan opsi</title>
  </section>

</page>
