<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="introduction" xml:lang="id">

  <info>
    <link type="guide" xref="index"/>

    <revision pkgversion="3.8" date="2013-03-23" status="final"/>
    <revision pkgversion="3.12" date="2014-03-05" status="final"/>
    <revision pkgversion="3.16" date="2015-03-02" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Pengenalan ke <app>Penampil Desktop Jauh</app>.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2013, 2014, 2016.</mal:years>
    </mal:credit>
  </info>

  <title>Perkenalan</title>

  <p><app>Penampil Desktop Jauh</app> adalah aplikasi penilik desktop jarak jauh bagi GNOME untuk mengakses mesin lain memakai Virtual Network Computing (VNC) dan protokol-protokol lain. Ini dapat dipakai untuk mengendalikan dan berinteraksi dengan komputer lain atau hanya sekedar melihat desktop.</p>

  <p><app>Penampil Desktop Jauh</app> menyediakan fitur-fitur berikut:</p>
  <list>
    <item><p>menyambung ke beberapa mesin pada saat yang sama</p></item>
    <item><p>menyimpan koneksi baru-baru ini dan menandatauti mereka</p></item>
    <item><p>meramban jaringan lokal untuk mencari mesin lain</p></item>
  </list>

  <figure>
    <title>Penampil Desktop Jauh beraksi</title>
    <media type="image" mime="image/png" src="figures/vinagre-connected-3-16.png">
      <p>Penampil Desktop Jauh berjalan dalam GNOME 3, tersambung ke suatu mesin yang menjalankan GNOME 2</p>
    </media>
  </figure>

</page>
